<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>書籍登録</title>
</head>

<body>
    <h1>書籍登録画面</h1>
    <form action="/books/insert" method="post">
        <div>
            <label>タイトル:</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>著者名：</label>
            <input type="text" name="author">
        </div>
        <div>
            <label>価格：</label>
            <input type="text" name="price">
        </div>
        <div>
            <label>出版日：</label>
            <input type="date" name="publishedDate">
        </div>
        <button type="submit">登録</button>
        <p><a href="/books/bookList">一覧に戻る</a></p>
    </form>
</body>

</html>